@font-face {
    font-family: myFont;
    src: url(/home/onhel-yai/Internship/internship/public/assets/fonts/NotoSans-VariableFont_wdth,wght.ttf);
}

.light {
    background: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    min-height: 100vh;
    min-width: 143vh;
    width: fit-content;
    padding: 30px 100px;
    font-family: myFont;
}

.dark {
    background: linear-gradient(180deg, #040918 0%, #091540 100%);
    min-height: 100vh;
    min-width: 143vh;
    width: fit-content;
    padding: 30px 100px;
    font-family: myFont;
}

.dark .Extensions,
.dark .DevLens {
    background: hsl(226, 25%, 17%);
    border-color: hsl(225, 23%, 24%);
    color: hsl(200, 60%, 99%);
}

.light .Extensions,
.light .DevLens {
    background: hsl(200, 60%, 99%);
    border-color: hsl(0, 0%, 78%);
    color: hsl(227, 75%, 14%);
}

.Extensions{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 98%;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.light .moon{
    border: none;
    background-color: hsl(0, 0%, 93%);
}

.dark .moon {
    border: none;
    background-color: hsl(226, 11%, 37%);
}

.Moon_Button{
    background-color: hsl(0, 0%, 93%);
    border-radius: 10px;
    padding: 10px;
    height: 22px;
    cursor: pointer;
}

.Sun_Button{
    background-color: hsl(226, 11%, 37%);
    border-radius: 10px;
    padding: 10px;
    height: 22px;
    cursor: pointer;
}

.Ext{
    display: grid;
    row-gap: 40px;
    padding: 0px 35px;
}

@media (max-width: 600px) {
    .Extensions{
        width: 50%;
    }
}