@font-face {
    font-family: myFont;
    src: url(/home/onhel-yai/Internship/internship/public/assets/fonts/NotoSans-VariableFont_wdth,wght.ttf);
}

.light {
    background: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    min-height: 100vh;
    min-width: 143vh;
    width: fit-content;
    padding: 30px 100px;
    font-family: myFont;
}

.dark {
    background: linear-gradient(180deg, #040918 0%, #091540 100%);
    min-height: 100vh;
    min-width: 143vh;
    width: fit-content;
    padding: 30px 100px;
    font-family: myFont;
}

.dark .Extensions,
.dark .DevLens {
    background: hsl(226, 25%, 17%);
    border-color: hsl(225, 23%, 24%);
    color: hsl(200, 60%, 99%);
}

.dark .List,
.dark h4 {
    color: hsl(200, 60%, 99%);
}

.dark p {
    color: hsl(0, 0%, 78%);
}

.light .Extensions,
.light .DevLens {
    background: hsl(200, 60%, 99%);
    border-color: hsl(0, 0%, 78%);
    color: hsl(227, 75%, 14%);
}

.light .List,
.light h4 {
    color: hsl(227, 75%, 14%);
}

.light p {
    color: hsl(227, 75%, 14%);
}

.Extensions{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 98%;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Extensions_title{
    display: flex;
    align-items: center;
    gap: 5px;
}

.light .moon{
    border: none;
    background-color: hsl(0, 0%, 93%);
}

.dark .moon {
    border: none;
    background-color: hsl(226, 11%, 37%);
}

.List{
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: auto;
    padding: 0px 35px;
}

.Moon_Button{
    background-color: hsl(0, 0%, 93%);
    border-radius: 10px;
    padding: 10px;
    height: 22px;
    cursor: pointer;
}

.Sun_Button{
    background-color: hsl(226, 11%, 37%);
    border-radius: 10px;
    padding: 10px;
    height: 22px;
    cursor: pointer;
}

.Ext{
    display: grid;
    row-gap: 40px;
    padding: 0px 35px;
}